<div class="box_html {{ heading_title }} ">
  {{ html }}
</div>
<script type="text/javascript"><!--
    $(document).ready(function () {
        $('.rd-parallax').RDParallax({}); // Additional options
    });
    --></script>